@using MvcApplication1.ViewModels
@model BikeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVCDemo_C#</title>
</head>
<body>
    <div>
        Welcome to this Demo station of C# - MVC !!
    </div>
    <hr />
    <div>
    </div>
    <b>Bike Details :</b><br />
        Name: @Model.BikeNameAndModel<br />
        <span style="color:@Model.BikeColor">Price : @Model.BikePrice</span><br />
</body>
</html>
